.container{

    height: 100vh;
    text-align: center;
}
.container1{
   
    height:50vh;
    width: 50vw right;
   
}
#button1{
    background-color:red;
    height:50px;
    width: 50px;
}
#button2{
    background-color:green;
    height:50px;
    width: 50px;
}
#button3{
    background-color: blue;
    height:50px;
    width: 50px;
}
#button4{
    background-color:yellow;
    height:50px;
    width: 50px;
}